.main {
    width: 100vw;
    height: 100vh;
    background: grey;
    display: grid;
    grid: 1fr 1fr 10fr / 1fr;
}

.content {
    background: var(--background-light);
    width: 100%;
    height: 100%;
    display: grid;
    grid: 1fr 1.5fr 1fr/ 1fr 5fr;
    gap: 20px;
    padding: 15px;
    overflow:auto;
}

.listContainer {
  background: var(--background-light);
  display: grid;
  grid: 1fr 20fr / 1fr;
}

.listTitle {
  grid-column: span 4;
  color: var(--primary);
  font-weight: 400;
  border-bottom: blue 2px solid;
}

.list {
  background: var(--background-light);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.content > footer {
  background: var(--primary);
  grid-column: span 2;
}
