.content {
	background: var(--background-light);
	display: grid;
	gap: 50px 0;
	grid: max-content 8fr 1fr/ 1fr;
	height: 100%;
	width: 100%;
}

.listContainer {
	background: var(--background-light);
	display: grid;
	grid: 1fr max-content / 1fr;
	height: 100%;
}

.listTitle {
	border-bottom: #94949486 0.75px solid;
	color: var(--primary);
	font-weight: 400;
	grid-column: span 2;
}

.list {
	background: var(--background-light);
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns: repeat(2, 1fr);
}

.content > footer {
	background: var(--primary);
	grid-column: span 2;
	height: 80%;
	margin: auto;
	width: 80%;
}

@media screen and (min-width: 768px) {
	.content {
		gap: 5px;
		grid: 8fr 1fr/ 1fr 5fr;
		padding: 15px;
	}

	.list {
		grid-auto-rows: 1fr;
		grid-template-columns: repeat(4, 1fr);
	}

	.listTitle {
		grid-column: span 4;
	}

	.content > footer {
		height: 100%;
		width: 100%;
	}
}
