.content {
  background: var(--background-light);
  width: 100%;
  height: 100%;
  display: grid;
  grid: 1fr 2fr 1fr/ 1fr;
  gap: 50px 0;
}

.listContainer {
  background: var(--background-light);
  display: grid;
  grid: 1fr 20fr / 1fr;
  height: 100%;
}

.listTitle {
  grid-column: span 2;
  color: var(--primary);
  font-weight: 400;
  border-bottom: #94949486 0.75px solid;
}

.list {
  background: var(--background-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
}

.content > footer {
  background: var(--primary);
  grid-column: span 2;
  width: 80%;
  height: 80%;
  margin:auto;
}

@media screen and (min-width: 768px) {
  .content {
    grid: 8fr 1fr/ 1fr 5fr;
    gap: 5px;
    padding: 15px;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
  }

  .listTitle {
    grid-column: span 4;
  }

  .content > footer {
    width: 100%;
    height: 100%;
  }
}
