.aside {
	display: none;
}

@media screen and (min-width: 768px) {
	.aside {
		display: grid;
		grid-template-rows: 1fr;
		height: 100%;
		padding: 10px 30px;
		width: 100%;
	}

	.ul {
		display: grid;
		grid-auto-rows: 3rem;
		grid-template-columns: 1fr;
	}

	.li > a {
		color: black;
		text-decoration: none;
	}
}
