.content {
	background: var(--background-light);
	display: grid;
	gap: 0 25px;
	grid: 1fr 1fr / 1fr;
	height: 100%;
	overflow: auto;
	padding: 15px;
	width: 100%;
}

.login {
	background: var(--container-light);
	display: grid;
	grid: 1fr / 1fr 2fr;
	height: 60vh;
	place-items: center;
}

.login > h1 {
	animation: Fade 1s cubic-bezier(0.645, 0.045, 0.355, 1);
	background: var(--primary);
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	font-weight: 600;
	padding: 5px;
	text-align: center;
	width: 60%;
}

.login > p {
	display: grid;
	grid: 1fr 1fr 1fr / 1fr;
	height: 60vh;
	place-items: center;
	text-align: center;
	width: 100%;
}

.login > p > button {
	animation: Fade 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	border: 0;
	border-radius: 25px;
	cursor: pointer;
	height: 60%;
	width: 90%;
}

.content > footer {
	background: var(--primary);
}

@media screen and (min-width: 768px) {
	.content {
		grid: 1fr 1fr / 1fr;
	}

	.login {
		grid: 1fr / 1fr 1fr;
	}

	.login > h1 {
		padding: 25px;
		width: 80%;
	}

	.article {
		grid-column: unset;
	}

	.article > button {
		height: 50%;
		width: 50%;
	}

	.login > p > button {
		height: 25%;
		width: 50%;
	}
}

@keyframes Fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
