.aside {
	display: grid;
	grid-column: span 2;
	grid-template-rows: 1fr;
	height: 100%;
	padding: 10px 30px;
	place-items: center;
	width: 100%;
}

.ul {
	display: grid;
	grid-auto-rows: 3rem;
	grid-template-columns: 1fr;
	list-style: none;
}

.li > a {
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.aside {
		grid-column: unset;
		place-items: unset;
	}
}
