.container {
	display: grid;
	grid: 2fr 7fr / 1fr;
	height: 100%;
	width: 100%;
}

/* SECTION Top Nav */

.top {
	align-items: center;
	color: white;
	display: flex;
	font-size: 0.9rem;
	height: 100%;
	justify-content: center;
	padding-inline: 15px;
	width: 100%;
}

.links {
	color: white;
	font-weight: bolder;
	margin-inline: 10px;
}

.isDarkTop {
	background: var(--header-dark);
}

.isLightTop {
	background: var(--header-light);
}

/* !SECTION */

/* SECTION Search */

.searchAndLogo {
	display: grid;
	grid: 1fr / 1fr;
	height: 100%;
	place-items: center;
	width: 100%;
}

.searchAndLogo > div {
	display: flex;
	flex-direction: column;
	place-items: center;
	position: relative;
}

.searchAndLogo > div > img {
	width: 50%;
}

.searchAndLogo > div > span {
	bottom: 0;
	color: grey;
	font-size: 0.65rem;
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.05rem;
	position: absolute;
	transform: translate(-60%, 40%);
}

.labelPhone {
	display: grid;
}

.navbarMobile {
	left: 10%;
	position: absolute;
	top: 15%;
}

.inputMobile {
	display: none;
}

.searchIcon {
	color: var(--primary);
	position: absolute;
	right: 15%;
	top: 15%;
}

.labelDesktop {
	display: none;
}

.isDarkSearch {
	background: var(--background-dark);
}

.isLightSearch {
	background: var(--background-light);
}

/* !SECTION */

@media screen and (min-width: 768px) {
	.top {
		align-items: center;
		justify-content: flex-end;
	}

	.searchAndLogo {
		grid: 1fr / 1fr 2fr;
		padding: 25px;
	}

	.labelPhone,
	.inputMobile,
	.navbarMobile {
		display: none;
	}

	.labelDesktop {
		display: grid;
		grid: 1fr / 5fr 1fr;
		height: 70%;
		width: 50%;
	}

	.labelDesktop > input {
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 5px 0 0 5px;
		height: 100%;
	}

	.labelDesktop > button {
		background: var(--primary);
		border: 0;
		color: white;
		cursor: pointer;
		font-weight: 700;
		padding: 5px;
	}
}
