.hidden {
	background: var(--primary);
	display: grid;
	flex-direction: column;
	height: 100vh;
	place-items: center;
	position: absolute;
	transition: all 0.75s ease;
	width: 0;
}

.hidden > * {
	display: none;
}

.nav {
	background: var(--primary);
	border-right: 5px inset white;
	display: grid;
	flex-direction: column;
	height: 100vh;
	place-items: center;
	position: fixed;
	transition: all 2s ease;
	width: 50%;
}

nav > article {
	border-top: 0.5px solid white;
	display: grid;
	height: 100%;
	place-items: center;
	width: 100%;
}

.article > a {
	color: white;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

.selected > a {
	color: var(--secondary);
	font-weight: 700;
	text-decoration: none;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
	.nav,
	.hidden {
		border: 0;
		display: grid;
		flex-direction: unset;
		gap: 40px;
		grid-auto-flow: column;
		grid-template-columns: repeat(5, 1fr) 4fr;
		grid-template-rows: 1fr;
		height: unset;
		justify-items: start;
		padding-inline: 20px;
		position: static;
		width: 100%;
	}

	.hidden > * {
		display: inherit;
	}

	nav > article {
		border-top: 0;
	}

	.closeNavbar {
		display: none;
	}
}
